/* setup */
html {
  font-size: 14px;
}

main {
  overflow-x: auto;
}

@media (max-width: 1200px) {
  html {
    font-size: 13px;
  }

  td,
  th {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  .overlay > form {
    max-width: 800px;
  }

  th,
  thead {
    display: none;
  }

  td {
    display: inline-block;
    width: 25%;
    font-size: 1.25rem;
  }

  td:nth-of-type(1) {
    font-size: 1.25rem;
    text-align: center;
    line-height: 75px;
    padding: 0;
  }

  td .shift .endtime {
    display: block;
    margin-top: 1rem;
  }

  td .shift .description {
    font-size: 1.1rem;
  }

  td:nth-of-type(2):before {
    content: 'Monday';
  }
  td:nth-of-type(3):before {
    content: 'Tuesday';
  }
  td:nth-of-type(4):before {
    content: 'Wednesday';
  }
  td:nth-of-type(5):before {
    content: 'Thursday';
  }
  td:nth-of-type(6):before {
    content: 'Friday';
  }
  td:nth-of-type(7):before {
    content: 'Saturday';
  }
  td:nth-of-type(8):before {
    content: 'Sunday';
  }

  td::before {
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  td .shift {
    height: 92px !important;
  }
}

@media (max-width: 1000px) {
  .overlay > form {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .overlay > form {
    max-width: initial;
    overflow: visible;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  td {
    display: inline-block;
    width: 50%;
  }

  td:nth-of-type(1) {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  td {
    display: inline-block;
    width: 100%;
  }

  td:nth-of-type(1) {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
  }
}

@media (max-width: 500px) {
  .opacity-hover-effect {
    opacity: 0.9;
  }

  nav ul {
    margin-top: 1rem;
  }

  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #edit-form,
  #add-pop-up {
    width: 300px;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: fromLeftRespnisve 0.2s ease-in-out;
    animation: fromLeftRespnisve 0.2s ease-in-out;
  }

  #add-pop-up {
    width: 200px;
  }

  @-webkit-keyframes fromLeftRespnisve {
    from {
      -webkit-transform: translateX(-60%);
      transform: translateX(-60%);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  @keyframes fromLeftRespnisve {
    from {
      -webkit-transform: translateX(-60%);
      transform: translateX(-60%);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 1;
    }
  }
}

@media (max-width: 300px) {
  #edit-form {
    width: 250px;
  }
}
